@font-face {
    font-family: "quick-sand";
    src: ('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik+Puddles&display=swap');
}

@import "./utilidades/reset";
@import "./secciones/header";
@import "./secciones/main-index";
@import "./secciones/article1";
@import "./secciones/article2";
@import "./secciones/cascos";
@import "./secciones/equipos-respiratorios";
@import "./secciones/id_container";
@import "./secciones/iram3610";
@import "./secciones/seg-ocular";
@import "./secciones/footer";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #banner {
        width: 100%
    }

    #nav-list {
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        padding: none;
    }

    .footer {
        font-size: small;
    }

    .carta {
        display: flex;
        flex-wrap: wrap;
    }

    .iram3610 {
        display: flex;
        flex-direction: column;

        p {
            width: 100%;
        }
    }

    .article2 {
        div {
            .prot-respi {
                display: flex;
                flex-wrap: wrap;
            }
        }

    .img-ocular {
            width: 95%;
        }

        body {
            main {
                section {
                    article {
                        .prot-ocular {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    #videoepp {
        width: 100vw;
        .videoepp{
            width: 90%;
        }
    }
}