@font-face {
    font-family: "quick-sand";
    src: ('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik+Puddles&display=swap');}
@import "./utilidades/reset";
@import "./secciones/header";
@import "./secciones/main-index";
@import "./secciones/article1";
@import "./secciones/article2";
@import "./secciones/cascos";
@import "./secciones/equipos-respiratorios";
@import "./secciones/id_container";
@import "./secciones/iram3610";
@import "./secciones/seg-ocular";
@import "./secciones/footer";
@import "./secciones/contacto";

h3,
h4,
h5,
h6 {
    font-weight: lighter;
}
@media screen and (max-width: 768px) {
    @import "./utilidades/reset";

    main {
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            .article2 {
                width: 95vw;
                padding-left: 5px;
                padding-right: 5px;

                div {
                    .prot-respi {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }

                .img-ocular {
                    width: 95%;
                }

                body {
                    main {
                        section {
                            article {
                                .prot-ocular {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-evenly;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #banner {
        width: 98%
    }

    #nav-list {
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        padding: none;
    }

    .footer {
        font-size: small;
    }

    .carta {
        display: flex;
        flex-wrap: wrap;
    }

    .iram3610 {
        display: flex;
        flex-direction: column;

        p {
            width: 100%;
        }
    }

    #videoepp {
        width: 100vw;

        .videoepp {
            width: 100%;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .img-casco:hover {
        width: 175px;
        height: 175px;
    }
}