.article2 {
    font-size: 18px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
}

.article2 p {
    padding: 10px 10px;
}

.article2 {
    .list-respiratoria{
    list-style: none;
    padding: 0px;
    }
}

.article2-div-prot-respi {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.article2 div img {
    width: 150px;
}

.article2 p img {
    width: 300px;
    padding-left: 60px;
}

.article2 {
    #videoepp {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 350px;
    }

    iframe {
        width: 50vw;
        height: 100%;
        border: solid grey;
        border-radius: 1%;
    }
}

.article2 {
    .title {
        border: solid black 1px;
        text-align: center;
        margin: 10px;
        background-color: #c4c4c4;
        border-radius: 5px;
        font-size: 25px;
    }
}

@mixin carta($radius , $eje ) {
    border-radius: $radius;
    box-shadow: $eje $eje ($eje*2) #000000,
        (-$eje) (-$eje) ($eje*2) #ffffff;
}

.article2 {
    div {
        .card {
            margin: 7px;
            display: flex;
            align-items: center;
            text-align: center;
            @include carta(10px, 2px)
        }
    }
}

