.section-equipos-respiratorios ul li{
    padding-bottom: 60px;
    height: 40px
    ;
}
.section-equipos-respiratorios ul li span{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}