.footer {
    background-color: black;
    font-size: 10px;
    color: white;
}

.footer li {
    margin: 10px;
    display: inline-block;
    width: 65 px;
    height: 15px;
    padding: 10px;
}

.enlace-footer {
    color: white;
}

span a {
    font-weight: bold;
    color: white;
}