.footer {
    background-image:linear-gradient(#c4c4c4,black);
    width: 100%;
    margin-top: 5px;
}

span a {
    font-weight: bold;
    color: #4f3be9;
}

.footer-grid {
    display: grid;
    grid-template-areas: "slot1 slot4 slot7"
        "slot2 slot5 slot8"
        "slot3 slot6 slot9"
        "slot10 slot10 slot10";
    grid-template-rows: auto;
    justify-items: center;
    color: rgb(0, 0, 0);
    margin: auto;
}

.quienes {
    grid-area: slot1;
}

.contacto {
    grid-area: slot2;
}

.preguntas {
    grid-area: slot3;
}

.requisitros {
    grid-area: slot4;
}

.estudios {
    grid-area: slot5;
}

.capacitaciones {
    grid-area: slot6;
}

.asistencia {
    grid-area: slot7;
}

.inspeccion {
    grid-area: slot8;
}

.derechos {
    grid-area: slot10;
}

body {
    .footer {
        .footer-grid {
            div {
                a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                }
            }
        }
    }
}
.footer-contacto{
    margin-top: 20px;
    margin-left: 20px;
}