.main nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.enlace-nav {
    color: black;
    text-decoration: none;
}

main {
    height: auto;
}

.main li {
    margin: 10px;
    display: inline-block;
    height: 25px;
}

main section article div ul li {
    padding: 15px;
    margin: 20px;
}
main section article div ul li span {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

main section article div h3 {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}
.carta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-body {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 15px;
}